
header{
    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 593px;
        margin-bottom: 24px;
        @include cards{
            gap: 300px;
            justify-content: center;
        }
        @include footerAdaptive{
            gap: 150px;
        }
        @include microLaptop{
            gap: 75px;
        }
        .a-navs{
            display: flex;
            gap: 24px;
            @include headerAdaptive{
                display: none;
            }
            .a-nav{
                text-decoration: none;
                color: #333;
            }
        }
        .contact-info-nav{
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            @include finalHeader{
                gap: 16px;
            }
            .phone-nav{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .email-nav{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .menu{
                display: none;
                width: 30px; 
                height: 30px;
                
                @include headerAdaptive{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                }
            }
        }
    }
    .logo-search{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 101px;
        @include microLaptop{
            gap: 50px;
            justify-content: center;
        }
        @include headerAdaptive{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            column-gap: 25px;
            row-gap: 25px;
        }
        @include final{
            grid-template-columns: 1fr;
        }
        .catalogs:hover{
            background: #333;
        }
        .catalogs{
            padding: 13px 30px;
            text-decoration: none;
            font-size: 14px;
            border-radius: 10px;
            background: #0063B0;
            color: #fff;
            border: none;
            font-weight: 400;
            cursor: pointer;
            transition: 1s ease;
        }
        .search{
            display: flex;
            align-items: center;
            flex-direction: row;
            .search-input{
                display: flex;
                width: 596px;
                padding: 12px 20px;
                border-radius: 10px;    
                border: 1px solid rgba(51, 51, 51, 0.30);
                @include cards{
                    width: 211px;
                }
                @include final{
                    max-width: 211px;
                }
            }
            .icon-search{
                margin-left: -40px;
                cursor: pointer;
            }
        }
        .likes-cart{
            display: flex;
            flex-direction: row;
            gap: 25px;
            .like{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .likes{
                    cursor: pointer;
                }
            }
            .cart{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .carts{
                    cursor: pointer;
                }
            }
        }
    }
}
