body{
    font-family: Signika, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .presentation{
        background: linear-gradient(180deg, #AAADB2 0%, #C8C9CB 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 1296px;
        margin-top: 40px;
        gap: 139px;
        margin-bottom: 120px;
        @include footerAdaptive{
            gap: 70px;
        }
        @include microLaptop{
            gap: 50px;
            flex-direction: column-reverse;
        }
        
        .presentation-img{
            margin-right: 100px;
            @include cards{
                margin-right: 50px;
            }
            @include microLaptop{
                margin-right: 0;
            }
            @include presentation{
                width: 80%;
            }
        }
        .presentation-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 100px;
            @include cards{
                margin-left: 50px;
            }
            @include microLaptop{
                margin-left: 0;
            }
            .presentation-h1{
                font-size: 32px;
                font-weight: 400;
                color: #fff;
                max-width: 429px;
                margin-top: 0;
                margin-bottom: 30px;
                @include microLaptop{
                    font-size: 26px;
                }
                @include final{
                    font-size: 24px;
                    margin-left: 40px;

                }
            }
            .presentation-ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                .presentation-list{
                    font-weight: 400;
                    font-size: 16px;
                    color: #fff;
                    list-style-image: url(../imgs/icon-list.png);
                    list-style-position:inside;
                    
                }
            }
            .presentation-btn:hover{
                background: #333;
                color: #fff;
            }
            .presentation-btn{
                background: #0063B0;
                border: none;
                border-radius: 10px;
                font-size: 14px;
                color: #fff;
                padding: 17px 30px;
                margin-top: 45px;
                cursor: pointer;
                transition: 1s ease;
                @include microLaptop{
                    margin-top: 25px;
                    margin-bottom: 20px;
                }
                @include final{
                    margin-left: 40px;
                }
            }
        }
    }
    .all-brands{
        display: flex;
        flex-direction: row;
        gap: 130px;
        margin-bottom: 150px;
        @include cards{
            flex-direction: column;
        }
        @include adaptiveCards{
            gap: 50px;
        }
        .all-brands-text{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 25px;
            @include microLaptop{
                justify-content: center;
            }
            .all-brands-h2{
                font-size: 24px;
                color: #333;
                margin-top: 0;
            }
            .all-brands-img{
                cursor: pointer;
            }
        }
        .brands{
            display: grid;
            grid-template-columns:  306px  306px  306px;
            row-gap: 24px;
            column-gap: 24px;
            justify-items: center;
            @include microLaptop{
                grid-template-columns: 306px 306px;
            }
            @include adaptiveCards{
                grid-template-columns: 1fr 1fr;
            }
            .brand{
                @include cards{
                    width: 75%;
                }
            }
        }
    }
    .cards-section{
        margin-bottom: 114px;
        @include adaptiveCards{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cards{
            display: grid;
            grid-template-columns: 306px 306px 306px 306px;
            row-gap: 24px;
            column-gap: 24px;
            @include cards{
                grid-template-columns: 306px 306px;
            }
            @include adaptiveCards{
                grid-template-columns: 306px;
            }
            .card:nth-child(1){
                background: #F98C23;
            }
            .card:nth-child(2){
                background: #AE8EB5;
                .card-ul{
                    margin-top: -30px;
                    @include adaptiveCards{
                        margin-top: 0;
                    }
                }
            }
            .card:nth-child(3){
                background: #E74F4E;
                .card-ul{
                    margin-top: -150px;
                    @include cards{
                        margin-top: -110px;
                        @include adaptiveCards{
                            margin-top: 0;
                        }
                    }
                }
            }
            .card:nth-child(4){
                background: #91B450;
                .card-ul{
                    margin-top: -40px;
                    @include cards{
                        margin-top: 0;
                    }
                }
            }
            .card:nth-child(5){
                background: #EFB434;
                @include adaptiveCards{
                    display: none;
                }
                .card-h2{
                    margin-bottom: -20px;
                }
            }
            .card:nth-child(6){
                background: #0090B5;
                @include adaptiveCards{
                    display: none;
                }
                .card-ul{
                    margin-top: -20px;
                }
            }
            .card:nth-child(7){
                background: #8467CA;
                @include adaptiveCards{
                    display: none;
                }
                .card-ul{
                    margin-top: -5px;
                }
            }
            .card:nth-child(8){
                background: #C39440;
                @include adaptiveCards{
                    display: none;
                }
            }
            .card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                border-radius: 10px;
                justify-content: space-between;
                padding: 35px;
                align-self: stretch;
                .card-h2{
                    font-size: 21px;
                    margin-bottom: 0;
                    color: #fff;
                    margin-top: 0;
                }
                .card-ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    list-style-image: url(../imgs/icon-list-cards.png);
                    margin-left: -25px;
                    .card-list{
                        font-size: 14px;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                .card-btn:hover{
                    background: #333;
                    color: #fff;
                }
                .card-btn{
                    background: #0063B0;
                    border-radius: 10px;
                    padding: 13px 27px;
                    align-items: center;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 400;
                    transition: 1s ease;
                }
            }
        }
        .all-cards-btn:hover{
            background: #333;
        }
        .all-cards-btn{
            display: none;
            background: #0063B0;
            border-radius: 10px;
            padding: 13px 27px;
            align-items: center;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            transition: 1s ease;
            margin-top: 50px;
            @include adaptiveCards{
                display: flex;
                justify-content: center;
            }
        }
    }
    .popular-goods{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        margin-bottom: 150px;
        @include adaptiveCards{
            gap: 50px;
        }
        .all-goods-btn:hover{
            background: #333;
        }
        .all-goods-btn{
            display: none;
            display: none;
            background: #0063B0;
            border-radius: 10px;
            padding: 13px 27px;
            align-items: center;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            transition: 1s ease;
            @include adaptiveCards{
                display: flex;
            }
        }
        .popular-goods-text{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: flex-start;
            gap: 25px;
            justify-content: flex-start;
            .popular-goods-img{
                cursor: pointer;
            }
            .popular-goods-h2{
                margin-top: 0;
                font-size: 32px;
                color: #333;
                margin-bottom: 0;
            }
        }
        .popular-goods-cards{
            display: flex;
            flex-direction: row;
            gap: 24px;
            @include cards{
                display: grid;
                grid-template-columns: 306px 306px;
            }
            @include adaptiveCards{
                grid-template-columns: 306px;
            }
            .popular-goods-card:nth-child(3){
                @include adaptiveCards{
                    display: none;
                }
            }
            .popular-goods-card:nth-child(4){
                @include adaptiveCards{
                    display: none;
                }
            }
            .popular-goods-card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 10px;
                border: 1px solid rgba(51, 51, 51, 0.30);
                padding: 20px ;
                .popular-goods-card-text{
                    font-size: 15px;
                    color: #333;
                    font-weight: 400;
                    margin-top: 20px;
                }
                .price{
                    font-size: 21px;
                    color: #333;
                    font-weight: 400;
                    margin-top: 0;
                }
                .line{
                    max-width: 306px;
                    background: rgba(51, 51, 51, 0.30);
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    margin-top: 200px;
                    margin-left: -20px;


                }
                .add-in-cart:hover{
                    background: #333;
                }
                .add-in-cart{
                    padding: 10px 25px;
                    color: #fff;
                    border: none;
                    border-radius: 10px;
                    background: #0063B0;
                    cursor: pointer;
                    transition: 1s ease;
                }
            }
        }
    }
    .description{
        display: flex;
        flex-direction: row;
        gap: 134px;
        align-items: center;
        margin-bottom: 150px;
        @include cards{
            flex-direction: column;
            gap: 70px;
        }
        .description-text{
            max-width: 746px;
            @include adaptiveCards{
                padding: 0 10px;
            }
            .text-p{
                font-size: 17px;
                color: #333;
                font-weight: 400;
                line-height: 150%;
            }
        }
        .download-catalog{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            padding: 0px 40px;
            .download-catalog-img{
                @include finalHeader{
                    width: 80%;
                }
            }
            @include final{
                padding: 0;
            }
            .btn-download:hover{
                background: #333;
            }
            .btn-download{
                background: #0063B0;
                padding: 10px 25px;
                border-radius: 10px;
                border: none;
                color: #fff;
                cursor: pointer;
                transition: 1S ease;
            }
        }
    }
    .new-items{
        display: flex;
        flex-direction: column;
        gap: 90px;
        margin-bottom: 120px;
        @include adaptiveCards{
            gap: 50px;
        }
        .new-items-btn:hover{
            background: #333;
        }
        .new-items-btn{
            display: none;
            background: #0063B0;
            padding: 10px 25px;
            border-radius: 10px;
            border: none;
            color: #fff;
            cursor: pointer;
            transition: 1S ease;
            @include adaptiveCards{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
        }
        .new-items-text{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            .new-items-h2{
                font-size: 32px;
                color: #333;
                margin-bottom: 0;
                margin-top: 0;
            }
            .new-items-img{
                cursor: pointer;
            }
        }
        .new-items-cards{
            display: flex;
            flex-direction: row;
            gap: 24px;
            @include cards{
                display: grid;
                grid-template-columns: 306px 306px;
            }
            @include adaptiveCards{
                grid-template-columns: 306px;
            }
            .new-items-card:nth-child(3){
                @include adaptiveCards{
                    display: none;
                }
            }
            .new-items-card:nth-child(4){
                @include adaptiveCards{
                    display: none;
                }
            }
            .new-items-card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 10px;
                border: 1px solid rgba(51, 51, 51, 0.30);
                padding: 20px;
                .new-items-card-text{
                    font-size: 15px;
                    color: #333;
                    font-weight: 400;
                }
                .price-new{
                    font-size: 21px;
                    color: #333;
                    margin-top: 0;
                }
                .line-new{
                    height: 1px;
                    background: rgba(51, 51, 51, 0.30);
                    width: 100%;
                    position: absolute;
                    max-width: 306px;
                    margin-top: 200px;
                    margin-left: -20px;
                }
                .add-in-cart-new:hover{
                    background: #333;
                }
                .add-in-cart-new{
                    padding: 10px 25px;
                    border-radius: 10px;
                    border: none;
                    background: #0063B0;
                    color: #fff;
                    cursor: pointer;
                    transition: 1s ease;
                }
            }
        }
    }
    .line-footer{
        height: 1px;
        background: rgba(51, 51, 51, 0.30);
        width: 93%;
        margin-bottom: 60px;
        opacity: 0.3;
    }
    .copyright{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            opacity: 0.5;
            width: 100%;
            margin: 0 20px;
            .copyright-p{
                font-size: 14px;
                font-weight: 400;
                color: #333;
            }
        }
        .line-footer-after{
            height: 1px;
            background: rgba(51, 51, 51, 0.30);
            opacity: 0.3;
            width: 100%;
        }
    footer{
        
        .footer{
            display: inline-flex;
            flex-direction: row;
            gap: 130px;
            align-items: flex-start;
            margin-bottom: 60px;
            @include footerAdaptive{
                gap: 50px;
            }
            @include microLaptop{
                gap: 25px;
            }
            @include headerAdaptive{
                flex-direction: column;
                align-items: center;
            }
            .logo-footer{
                .logo-in-footer{
                    margin-right: 100px;
                    @include footerAdaptive{
                        margin-right: 20px;
                        width: 70%;
                    }
                    @include microLaptop{
                        margin-right: 0;
                    }
                    @include headerAdaptive{
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
            .navs-footer{
                display: flex;
                flex-direction: row;
                gap: 70px;
                @include finalHeader{
                    gap: 40px;
                }
                .footer-nav{
                display: flex;
                flex-direction: column;
                .footer-h3{
                    font-size: 16px;
                    font-weight: 700;
                    color: #333;
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .footer-list{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .footer-list-a{
                        color: #333;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: none;
                    }
                    .footer-list-a:hover{
                        text-decoration: underline;
                    }
                }
            }
            }
            
            .footer-contacts{
                .footer-h3{
                    font-size: 16px;
                    font-weight: 700;
                    color: #333;
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .footer-contacts-list{
                    gap: 15px;
                    display: flex;
                    flex-direction: column;
                    .address{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        .address-p{
                            margin: 0;
                        }
                    }
                    .phone{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        .phone-p{
                            margin: 0;
                        }
                    }
                    .email{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        .email-p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}