$breakpoint_desktop: 1919px;
$breakpoint_laptop: 1439px;
$breakpoint_small_laptop: 1365px;
$breakpoint_tabletHorizontal: 1023px;
$breakpoint_tabletVertical: 767px;
$breakpoint_mobile: 424px;
$breakpoint_small_mega_mobile:335px;
$breakpoint_small_mobile:335px;
$breakpoint_for_icon_nav: 581px;