$breakpoint_desktop: 1919px;
$breakpoint_laptop: 1439px;
$breakpoint_small_laptop: 1365px;
$breakpoint_tabletHorizontal: 1023px;
$breakpoint_tabletVertical: 767px;
$breakpoint_mobile: 424px;
$breakpoint_small_mega_mobile:335px;
$breakpoint_small_mobile:335px;
$breakpoint_for_icon_nav: 581px;
$breakpoint_for_cards:1325px;
$breakpoint_for_footer:1060px;
$breakpoint_micro_laptop:975px;
$breakpoint_for_header:790px;
$breakpoint_for_adaptive_cards:640px;
$breakpoint_for_presentation:570px;
$breakpoint_for_final:390px;
$breakpoint_for_final_header:338px;